<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>
        {% if livro %}Editar Livro{% else %}Cadastrar Livro{% endif %}
    </title>
    <link rel="shortcut icon" type="imagex/png" href="/static/img/open-book.png">
    <link rel="stylesheet" href="/static/global.css">
    <link rel="stylesheet" href="/static/form.css">
</head>
<body>
    <h1>
        {% if livro %}Editar Livro:{% else %}Cadastrar Livro{% endif %}
    </h1>
    
    <form method="POST" action=""> 

    <label>Título:</label>
    <input type="text" name="titulo" required 
        value="{{ livro.titulo if livro else '' }}"><br>

    <label>Autor:</label>
    <select name="autor_id" required>
    <option value="">Selecione um autor</option>
    {% for autor in autores %}
    <option value="{{ autor.id }}" 
        {% if livro and livro.autor_id == autor.id %}selected{% endif %}>
        {{ autor.nome }}
    </option>
        {% endfor %}
    </select><br>

    <label>Formato:</label>
    <select name="formato" required>
    <option value="">Selecione um formato</option>
    {% for f in formatos %}
    <option value="{{ f }}" 
        {% if livro and livro.formato == f %}selected{% endif %}>
        {{ f }}
    </option>
    {% endfor %}
    </select><br>

    <label>Gênero:</label>
    <select name="genero" required>
    <option value="">Selecione um gênero</option>
    {% for g in generos %}
    <option value="{{ g }}"
        {% if livro and livro.genero == g %}selected{% endif %}>
        {{ g }}
    </option>
    {% endfor %}
    </select><br>

    <label>Data de Lançamento:</label>
    <input type="date" name="data_lancamento" required 
        value="{% if livro %}{{ livro.data_lancamento.strftime('%Y-%m-%d') }}{% endif %}"><br>
    <label>Preço:</label>
    <input type="number" step="0.01" name="preco" required 
        value="{% if livro %}{{ '%.2f'|format(livro.preco|float) }}{% endif %}"><br>

    <label>URL da Imagem:</label>
    <input type="url" name="url_img" 
        value="{{ livro.url_img if livro else '' }}"><br>

    {% if livro %}
    <div class="botoes-edicao"> 
        <button type="submit" name="action" value="atualizar" id="atualizar">Atualizar</button>
        <button type="submit" name="action" value="excluir" id="excluir">Excluir</button>
    </div>
    {% else %}
    <button type="submit" name="action" value="cadastrar" id="cadastrar">Cadastrar</button>
    {% endif %}
    </form>
</body>
</html>