<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Cadastro de Cliente</title>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <link rel='stylesheet' href='/static/style.css'>
</head>
<body>
    <h1>Cadastro de Cliente</h1>

    <main>
        <form action="{{ url_for('cliente_bp.salvar_cliente') }}" method="POST">
            <label for="nome">Nome: </label>
            <input type="text" name="nome" id="nome">

            <label for="email">Email: </label>
            <input type="email" name="email" id="email">

            <label for="telefone">Telefone:</label>
            <input type="text" name="telefone" id='telefone'>

            <label for="data_nasc">Data de Nascimento:</label>
            <input type="date" name="data_nasc" id='data_nasc'>

            <label for="username">Usuario:</label>
            <input type="text" name="username" id='username'>           


            <label for="endereco">Endereço:</label>
            <input type="text" name="endereco" id="endereco">

            <label for="senha">Senha:</label>
            <input type="password" name="senha" id="senha">

            <label for="confirmar_senha">Confirme a senha:</label>
            <input type="password" name="confirmar_senha" id="confirmar_senha"> 

            <button type="submit">Cadastrar</button>

            <!-- Mostrar mensagens com flask -->
            {% with mensagens = get_flashed_messages(with_categories=True) %}
                {% if mensagens %}
                    {% for categoria, mensagem in mensagens %}
                        <p class="{{ categoria }}">{{ mensagem }}</p>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </form>
    </main>
</body>
</html>
