<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Livraria</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='/static/style.css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    

</head>
<body>
    <div class="top-bar">
        <!-- Campo de busca -->
        <div class="header__search">
            <input id="search-input" type="text" maxlength="800" placeholder="Buscar">
            <i class="fa fa-search"></i>
        </div>

        

        <!-- Menu à direita -->
        <div class="right-menu">
            <div class="login">
                <i class="fa fa-user"></i>
                <span>Seja bem-vindo! <strong>Faça seu login</strong></span>
            </div>
            <div class="cart">
                <i class="fa fa-shopping-bag"></i>
                <span class="count">0</span>
            </div>
        </div>
    </div>

    <h1>Bem Vindos à Livraria!</h1>

    <a href="/livros" class="add-livro">Ver todos os Livros</a>
    <a href="/cadastrarLivro" class="add-livro">Cadastrar Novo Livro</a>
    <a href="/autor" class="add-livro">Ver todos os Autores</a>
    <a href="/cadastrarAutor" class="add-livro">Cadastrar Novo Autor</a>
    <div id="resultado" class="cards-container"></div>

    <script src="/static/index.js"></script>
</body>


</html>