<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Livros de {{ autor.nome }}</title>
    <link rel="shortcut icon" type="imagex/png" href="/static/img/open-book.png">
    <link rel="stylesheet" href="/static/global.css">
    <link rel="stylesheet" href="/static/form.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>

    <header class="top-bar">
        <div class="header__logo">
            <a href="/" style="text-decoration: none; color: inherit;">
                <img src="/static/img/open-book.png" alt="Logo Livraria">
                <span>Livraria Entrelinhas</span>
            </a>
        </div>

        <div class="header__search">
            <input id="search-input" type="text" maxlength="800" placeholder="Buscar por Título, ISBN ou Autor">
            <i id="search-icon" class="fa fa-search"></i>
        </div>

        <div class="right-menu">
        <div class="login">
            <i class="fa fa-user"></i>
            {% if session.nome_cliente %}
                <span>Bem-vindo, {{ session.nome_cliente }}! <a href="{{ url_for('auth_bp.logout') }}"><strong>Sair</strong></a></span>
            {% else %}
                <span>Seja bem-vindo! <a style="text-decoration: none;" href="{{ url_for('auth_bp.login') }}"><strong>Faça seu login</strong></a></span>
            {% endif %}
        </div>

        <div class="cart-container">
            <a href="#" id="cart-icon" class="cart">
                <i class="fa fa-shopping-bag"></i>
                <span class="count">0</span>
            </a>
            
            <div id="cart-card" class="cart-card hidden">
                <div id="cart-items-list" class="cart-items-list">
                    </div>
                <p class="cart-total">
                    Total: R$ <span id="cart-total-value">0,00</span>
                </p>
                <button class="checkout-btn" id="checkout-button">Finalizar Compra</button>
            </div>
        </div>
        </div>
    </header>

    <nav class="main-nav">
        <div class="container nav-container">
            <ul class="nav-links">
                <li class="dropdown">
                    <a href="#" class="nav-link dropbtn">
                        <i class="fa fa-bars mr-2"> </i>   Ver mais
                    </a>
                    <div class="dropdown-content">
                        <a href="/promocoes">Promoções</a>
                        <a href="/lancamentos">Lançamentos</a>
                        <a href="/contato">Contato</a>
                    </div>
                </li>
                
                <li><a href="/livros/formato/Ebook" class="nav-link">Ebooks</a></li>

                <li class="dropdown">
                    <a href="#" class="nav-link dropbtn">Generos</a>
                    <div class="dropdown-content">
                        <a href="/livros/genero/Ficção Científica">Ficção</a>
                        <a href="/livros/genero/Fantasia">Fantasia</a>
                        <a href="/livros/genero/Romance">Romance</a>
                        <a href="/livros/genero/Drama">Drama</a>
                        <a href="/livros/genero/Geek">Geek</a>
                        <a href="/livros/genero/Biografia">Biografia</a>
                    </div>
                </li>

                <li><a href="/livros" class="nav-link">Livros</a></li>
                <li><a href="/autor" class="nav-link">Autores</a></li>
                <a href="/cadastrarLivro" class="add-livro">Cadastrar Novo Livro</a>
            </ul>
        </div>
    </nav>
    
    <h1>Livros de {{ autor.nome }}</h1>
    <div class="livros-container">
        {% for livro in livros %}
        <div class="card">
            <div class="card-image-wrapper"> 
                <img src="{{ livro.url_img }}" alt="Capa do livro">
            </div>
            <h2>{{ livro.titulo }}</h2>
            <p><strong>Formato:</strong> {{ livro.formato }}</p>
            <p><strong>Gênero:</strong> {{ livro.genero }}</p>
            <p><strong>Lançamento:</strong> {{ livro.data_lancamento }}</p>
            <p><strong>Preço:</strong> R$ {{ livro.preco }}</p>
            <p><strong>ISBN:</strong> {{ livro.isbn }}</p>
        </div>
        {% else %}
        <p>Não há livros cadastrados para este autor.</p>
        {% endfor %}
    </div>
    <footer class="main-footer">
            <div class="container footer-content">
                
                <div class="footer-column">
                    <h3>Livraria Entrelinhas</h3>
                    <ul>
                        <li><a href="/sobre">Quem Somos</a></li>
                        <li><a href="/trabalhe-conosco">Trabalhe Conosco</a></li>
                        <li><a href="/politica-privacidade">Política de Privacidade</a></li>
                        <li><a href="/termos-uso">Termos de Uso</a></li>
                    </ul>
                </div>

                <div class="footer-column">
                    <h3>Atendimento</h3>
                    <ul>
                        <li><a href="/contato">Fale Conosco</a></li>
                        <li><a href="/ajuda">Central de Ajuda</a></li>
                        <li><a href="/trocas-devolucoes">Trocas e Devoluções</a></li>
                        <li><a href="/faq">FAQ (Perguntas Frequentes)</a></li>
                    </ul>
                </div>

                <div class="footer-column">
                    <h3>Minha Conta</h3>
                    <ul>
                        <li><a href="/login">Login / Cadastro</a></li>
                        <li><a href="/pedidos">Meus Pedidos</a></li>
                        <li><a href="/carrinho">Carrinho</a></li>
                        <li><a href="/enderecos">Meus Endereços</a></li>
                    </ul>
                </div>

                <div class="footer-column social-column">
                    <h3>Siga-nos</h3>
                    <div class="social-icons">
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                    </div>
                    
                    <h3 class="mt-20">Pagamento Seguro</h3>
                    <div class="payment-icons">
                        <i class="fab fa-cc-visa"></i>
                        <i class="fab fa-cc-mastercard"></i>
                        <i class="fab fa-cc-paypal"></i>
                        </div>
                </div>
            </div>
            
            <div class="footer-bottom">
                <p>&copy; 2025 Livraria Entrelinhas. Todos os direitos reservados.</p>
            </div>
    </footer>
    <script src="/static/index.js"></script>
</body>
</html>