<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Login</title>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <link rel='stylesheet' type='text/css' media='screen' href='/static/style.css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <script src='/static/index.js' defer></script>
</head>
<body>
    <header id="header_login">
      Faça seu login
    </header>

    <main>
      <form method="POST" class="login">
         <h2>Faça seu login</h2>
         <label for="user_name">Usuário:</label>
         <input type="text" mame="user_name" id="user_name">
         <label for="senha">Senha:</label>
         <input type="password">
         <button type="button">Entrar</button>
         <p>Não tem conta?<a href="/templates/cadastroClientes.html">Criar uma</a></p> 
      
    </form>
    </main>
</body>
</html>